<div>

  <div class="flex justify-center mb-3">
      <%= image_tag 'logo.svg'%>
  </div>

  <div class="basic-box">
    <div class="flex flex-row p-2 justify-center ">

      <div class="p-2 flex flex-col items-center">
        <h1 class="bg-dark text-bright flex inline-flex py-2.5 px-3 big-number"><%= @users_in_area_number %></h1>
        <p class="w-32 text-center mt-2"><%= t(:active_players).html_safe %></p>
      </div>

      <div class="p-2 flex flex-col items-center">
        <h1 class="bg-dark text-bright flex inline-flex py-2.5 px-3 big-number"><%= @matches_in_area_number %></h1>
        <p class="w-32 text-center mt-2"><%= t(:scheduled_matches).html_safe %></p>
      </div>

    </div>
    <a class="" href="/play">
      <div class="button-container">
        <div class="button">Find Players
          <div class="button-corner"></div>
        </div>
      </div>
    </a>
  </div>

  

  <% if @invited_games.size > 0 %>
    <%= render :partial => 'invitation', locals: { invited_games: @invited_games } %>
  <% end %>

  <% if @unrated_matches.size > 0 %>
    <%= render :partial => 'match_scorings/unrated_match', locals: { match: @unrated_matches.last.match, match_scoring: @unrated_matches.last } %>
  <% end %>

<% if current_user.is_admin %>
  <div class="basic-box mt-6">
    <div class="basic-box-headline">News Admin Panel</div>
      <p class="m-3">
        <a href="<%= dev_notes_path %>" class="basic-box-image-container">
          Übersicht
        </a>
      </p>
      <p class="m-3">
        <a href="<%= new_dev_note_path %>" class="basic-box-image-container">
          Neuen Artikel erstellen
        </a>
      </p>
    </div>
  </div>
<% end %>

<% if @dev_notes.size == 2 %>
  <div class="basic-box mt-6">
    <div class="basic-box-headline">News</div>
    <div class="flex flex-wrap mobile-vertical">
      <% @dev_notes.each do |dev_note| %>

        <a href="<%= dev_note_path(dev_note.id) %>" class="basic-box-image-container">
          <div class="basic-box-image">
            <%= image_tag dev_note.image, style:'width:320px; height: 200px' %>
          </div>
          <div class="basic-box-image-label">
            <div class="basic-box-label-text"><%= dev_note.intro %></div>
            <div class="basic-box-label-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
              </svg>
            </div>
          </div>  
        </a>
      <% end %>

    </div>
  </div>

<% end %>

<div class="notification-box mt-6">
  <div class="basic-box-headline">UPCOMING MATCHES</div>
  <div class="basic-list-container">
    <% @upcoming_games.each do |match_scoring|%>
      <% @match = match_scoring.match %>
      <% if @match %>
        <%= render :template => "match/show_simple"%>
      <% end %>
    <% end %>
  </div>
</div>

</div>


