<div>
  <div class="flex justify-end mb-3">
    <a class="mr-2 <% if current_user.locale == "de" %> caption <%end%>" href="/?locale=de">
      German
    </a>
    | 
    <a class="<% if current_user.locale == "en" %> caption <%end%> ml-2" href="/?locale=en">
      English
    </a>
  </div>
  <div class="flex justify-center mb-3">
      <%= image_tag 'logo.svg'%>
  </div>

  <div class="flex flex-row justify-between">
    <div class="flex flex-col">
      <div class="flex flex-row">

        <div class="flex flex-col">
          <% if @user.image.attached? %>
            <img style="height: 44px; width: 44px;"  src="<%= (url_for(@user.image)) %>" >
          <% else %>
            <div style="height: 44px; width: 44px; background-color: white"></div>
          <% end %>
        </div>

        <div class="flex flex-col ml-2">
          <div class="flex flex-row text-dark text-sm">
            <%= t(:logged_in_as) %>
          </div>

          <div class="flex flex-row text-md">
            <%= @user.full_name%>
          </div>
        </div>

      </div>
    </div>

      <div class="flex flex-col mb-2">
        <a class="" href="<%= profile_path %>">
          <div class="bg-icon p-1 " style="border-radius: 100%; height: 40px; width: 40px;">
            <svg class="mx-auto mb-2" style="margin-top: 2px;" width="22px" height="25px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
                <title>GUIIcons_Profile</title>
                <desc>Created with Sketch.</desc>
                <g id="Icons_Profile" stroke="#767676" stroke-width="1" fill="#767676" fill-rule="evenodd">
                <path d="M0.166666667,22 L21.1666667,22 C19.4860782,16.0246914 16.0054648,13.037037 10.7248265,13.037037 C5.44418817,13.037037 1.92480156,16.0246914 0.166666667,22 Z" id="Path-3" stroke="#767676" stroke-width="1.8"></path>
                <ellipse id="Oval" stroke="#767676" stroke-width="1.8" cx="10.3974359" cy="4.48148148" rx="4.23076923" ry="4.48148148"></ellipse>
                </g>
            </svg>
          </div>

          <div class="text-center text-dark text-xs" >
              <%= t(:edit) %> <%= t(:profile) %>
          </div>
      </a>
    </div>
  </div>

  <div class="basic-box">
    <div class="flex flex-row p-2 justify-center ">

      <div class="p-2 flex flex-col items-center">
        <h1 class="bg-dark text-bright flex inline-flex py-2.5 px-3 big-number"><%= @users_in_area_number %></h1>
        <p class="w-32 text-center mt-2"><%= t(:active_players).html_safe %></p>
      </div>

      <div class="p-2 flex flex-col items-center">
        <h1 class="bg-dark text-bright flex inline-flex py-2.5 px-3 big-number"><%= @matches_in_area_number %></h1>
        <p class="w-32 text-center mt-2"><%= t(:scheduled_matches).html_safe %></p>
      </div>

    </div>
    <a class="" href="/play">
      <div class="button-container">
        <div class="button"><%= t(:find_players) %>
          <div class="button-corner"></div>
        </div>
      </div>
    </a>
  </div>

  

  <% if @invited_games.size > 0 %>
    <%= render :partial => 'invitation', locals: { invited_games: @invited_games } %>
  <% end %>

  <% if @unrated_matches.size > 0 %>
    <%= render :partial => 'match_scorings/unrated_match', locals: { match: @unrated_matches.last.match, match_scoring: @unrated_matches.last } %>
  <% end %>

<% if current_user.is_admin %>
  <div class="basic-box mt-6">
    <div class="basic-box-headline">News Admin Panel</div>
      <p class="m-3">
        <a href="<%= dev_notes_path %>" class="basic-box-image-container">
          <%= t(:overview) %>
        </a>
      </p>
      <p class="m-3">
        <a href="<%= new_dev_note_path %>" class="basic-box-image-container">
          <%= t(:create_new_article) %>
        </a>
      </p>
    </div>
  </div>
<% end %>

<% if @dev_notes.size == 2 %>
  <div class="basic-box mt-6">
    <div class="basic-box-headline"><%= t(:news) %></div>
    <div class="flex flex-wrap mobile-vertical">
      <% @dev_notes.each do |dev_note| %>

        <a href="<%= dev_note_path(dev_note.id) %>" class="basic-box-image-container">
          <div class="basic-box-image">
            <%= image_tag dev_note.image, style:'width:320px; height: 200px' %>
          </div>
          <div class="basic-box-image-label">
            <div class="basic-box-label-text"><%= dev_note.intro %></div>
            <div class="basic-box-label-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
              </svg>
            </div>
          </div>  
        </a>
      <% end %>

    </div>
  </div>

<% end %>

<div class="notification-box mt-6">
  <div class="basic-box-headline"><%= t(:upcoming_matches) %></div>
  <div class="basic-list-container">
    <% @upcoming_games.each do |match_scoring|%>
      <% @match = match_scoring.match %>
      <% if @match %>
        <%= render :template => "match/show_simple"%>
      <% end %>
    <% end %>
  </div>
</div>

</div>


