  
  <a class="" href="<%= tournament_path(tournament) %>">
    <div class="px-0.5 pb-1 flex flex-col">

      <div class="flex flex-row justify-between">
        <div class="text-gray-500"> <%= tournament.start_date.strftime("%d.%m.%y") %> </div>
        <div class="flex flex-row">
          <div class="mx-1 rounded-full bg-dark-red text-white px-2"> <%= tournament.game.short_title%> </div>
          <div class="ml-1"> <%= tournament.users.size || 0%>/<%= tournament.max_player_number || 0%> </div>
        </div>
      </div>

      <div>
        <div class="my-1.5" style="max-width: 70%; line-height: 1.2;"> <%= tournament.title %> </div>
      </div>

      <div class="flex flex-row">
        <div class="mr-1 pt-1"> <%= image_tag "#{tournament.country.try(:short_name)}.svg"%> </div>
        <div class="mx-1"> <%= tournament.zip_code %> </div>
        <div class="ml-1"> <%= tournament.city %> </div>
      </div>      

      <!-- <%= tournament.end_date %><br> -->

    </div>
  </a>