<turbo-frame id="join_tournament_buttons">
  <div class="flex flex-row bg-gray-200 px-2 py-1">
    <div class="" style="width: 8rem;">Organizer</div>
    <div class="" style=""><%= @tournament.organizer.full_name %></div>    
  </div>
  
  <div class="flex flex-row px-2 py-1">
    <div style="width: 8rem;">Location</div>
    <p><%= @tournament.location%> </p>
  </div>

  <div class="flex flex-row px-2 py-1">
    <div style="width: 8rem;"></div>
    <p><%= @tournament.street %></p> 
  </div>

  <div class="flex flex-row px-2 py-1">
    <div style="width: 8rem;"></div>
    <p><%= @tournament.zip_code + " " + @tournament.city%></p>
  </div>
  
  <div class="flex flex-row px-2 py-1">
    <div style="width: 8rem;"></div>
    <p><%= @tournament.country.name %></p>
  </div>

  <div class="flex flex-row bg-gray-200  px-2 py-1">
    <div style="width: 8rem;">Start</div>
    <p><%= @tournament.start_date.strftime("%d.%m.%y  %H:%M") %><p>
  </div>

  <div class="flex flex-row px-2 py-1">
    <div style="width: 8rem;">End</div>
    <p><%= @tournament.end_date.strftime("%d.%m.%y  %H:%M")%><p>
  </div>

  <div class="flex flex-row  bg-gray-200 px-2 py-1">
    <div style="width: 8rem;">Players</div>
    <p><%= @tournament.users.count %> / <%= @tournament.max_player_number %><p>
  </div>

  <div class="flex flex-row px-2 py-1">
    <div style="width: 8rem;">Tournament Type</div>
    <p><%= @tournament.tournament_type %><p>
  </div>

  <div class="flex flex-row bg-gray-200 px-2 py-1">
    <div style="width: 8rem;">Payment Type</div>
    <p><%= @tournament.payment_type %><p>
  </div>

<div>
  <% if tournament.users.include?(user) %>
    <%= simple_form_for :tournament, :url => '/tournaments/leave' do |f| %>
      <%= f.hidden_field :tournament_id, :value => tournament.id %>
      <%= f.button :submit, "Leave Tournament", class:"giocaneer-button p-2 rounded mt-3 w-full px-2" %>
    <% end %>
  <% else %>
    <%= simple_form_for :tournament, :url => '/tournaments/join' do |f| %>
      <%= f.hidden_field :tournament_id, :value => tournament.id %>
      <%= f.button :submit, "Join Tournament", class:"giocaneer-button p-2 rounded mt-3 w-full px-2" %>
    <% end %>
  <% end %>

</div>

</turbo-frame>

  <% if tournament.organizer == user %>
    <a class="giocaneer-button p-2 rounded mt-3 w-full px-2 flex justify-center" href="/tournaments/<%= tournament.id%>/edit_pairing">Tournament Pairing</a>
  <% end %>
