
<div class="bg-white py-5 px-8 rounded-b rounded-tr float-left justify-between view-width">
<turbo-frame id="tournament_pairing_<%= @tournament.id %>">
<h4> TODO Scenario Additional Description Input Field </h4>

<% @tournament.matches.each do |match|%>
  <turbo-frame id="match_<%= match.id %>">
    <div class="flex flex-row">
      <% match.users.each do |user|%>
        <div class="mr-3"> <%= user.full_name%> </div>
      <% end%>
    </div>
    <a href="/match/<%= match.id%>/edit" %>edit</a>
  </turbo-frame>
<% end %>
  <%= simple_form_for :tournament, :url => '/tournaments/pair' do |f| %>
    <%= f.hidden_field :tournament_id, :value => @tournament.id %>
    <%= f.button :submit, "Generate Tournament Pairings", class:"giocaneer-button p-2 rounded mt-3 w-full px-2" %>
  <% end %>
</turbo-frame>
<%= link_to "back to Tournament", tournament_path(@tournament) %>
<h4> TODO Start Tournament Round</h4> 
</div>
