  
  
<div class="view-width" data-controller="tab" style="">

  <div class="flex flex-row">
    <div class="bg-white p-2 rounded-t cursor-pointer" data-tab-target="buttons" data-action="click->tab#switch" data-tab-number="0" >Overview</div>
    <div class="bg-white p-2 rounded-t bg-gray-200 mx-1 cursor-pointer" data-tab-target="buttons" data-action="click->tab#switch" data-tab-number="1">Notation</div>
    <div class="bg-white p-2 rounded-t bg-gray-200 cursor-pointer" data-tab-target="buttons" data-action="click->tab#switch" data-tab-number="2">Timeline</div>
  </div>

  <div data-tab-target="tabs">

  <div class="bg-white py-5 px-8 rounded-b rounded-tr float-left justify-between view-width">

    <h1><%= @tournament.title %></h1>
    <p><%= @tournament.game.title %></p>
  
    <div class="flex flex-row justify-between"> 

      <div class="max-w-md my-4" >
        <%= simple_format(@tournament.summary) %>
      </div>


      <div class="my-4 ml-12 w-64">
        <%= render :partial => 'join_tournament_buttons', locals: { tournament: @tournament, user: current_user } %>
      </div>

    </div>

  </div>

</div>

<div class="hidden" data-tab-target="tabs">
  <div class="bg-white py-5 px-8 rounded-b rounded-tr float-left justify-between view-width">
   <div class="flex flex-row justify-between"> 
      <div class="max-w-md my-4 break-words" >
        <h4>Informationen</h4>
        <%= simple_format(@tournament.information) %>
      </div>
      <div class="my-4 ml-12 w-64 break-words">
        <h4>Ablauf</h4>
        <%= format_timeline(@tournament.procedure) %>
      </div>
    </div>
  </div>
</div>
<div class="hidden" data-tab-target="tabs">
  <div class="bg-white py-5 px-8 rounded-b rounded-tr float-left justify-between view-width">
    <div class=" flex flex-col" style="width:752px;"> 
      <div class="flex flex-row" style="width:752px;"> 
        <h4 class="pl-3 border-r border-gray-300" style="width:25%">Name</h4>
        <h4 class="pl-3 border-r border-gray-300" style="width:17%">Herkunft</h4>
        <h4 class="pl-3 border-r border-gray-300" style="width:17%">Team</h4>
        <h4 class="pl-3 border-r border-gray-300" style="width:17%">Armee</h4>
        <h4 class="pl-3 border-r border-gray-300" style="width:17%">Bezahlt</h4>
        <h4 class="pl-3" style="width:17%">Armeeliste</div>
      </div>  
      <div class="flex flex-row bg-gray-200" style="width:752px;"> 
        <div class="pl-3 border-r py-2 border-gray-300" style="width:25%">Name</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Herkunft</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Team</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Armee</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Bezahlt</div>
        <div class="pl-3 py-2" style="width:17%">Armeeliste</div>
      </div>
      <div class="flex flex-row" style="width:752px;"> 
        <div class="pl-3 border-r py-2 border-gray-300" style="width:25%">Name</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Herkunft</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Team</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Armee</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Bezahlt</div>
        <div class="pl-3 py-2" style="width:17%">Armeeliste</div>
      </div>
      <div class="flex flex-row bg-gray-200" style="width:752px;"> 
        <div class="pl-3 border-r py-2 border-gray-300" style="width:25%">Name</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Herkunft</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Team</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Armee</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Bezahlt</div>
        <div class="pl-3 py-2" style="width:17%">Armeeliste</div>
      </div>
      <div class="flex flex-row" style="width:752px;"> 
        <div class="pl-3 border-r py-2 border-gray-300" style="width:25%">Name</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Herkunft</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Team</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Armee</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Bezahlt</div>
        <div class="pl-3 py-2" style="width:17%">Armeeliste</div>
      </div>
      <div class="flex flex-row bg-gray-200" style="width:752px;"> 
        <div class="pl-3 border-r py-2 border-gray-300" style="width:25%">Name</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Herkunft</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Team</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Armee</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Bezahlt</div>
        <div class="pl-3 py-2" style="width:17%">Armeeliste</div>
      </div>
      <div class="flex flex-row" style="width:752px;"> 
        <div class="pl-3 border-r py-2 border-gray-300" style="width:25%">Name</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Herkunft</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Team</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Armee</div>
        <div class="pl-3 border-r py-2 border-gray-300" style="width:17%">Bezahlt</div>
        <div class="pl-3 py-2" style="width:17%">Armeeliste</div>
      </div>
    <% @tournament.users.each do |user| %>
      <div class="flex flex-row" style="width:752px;"> 
        <div style="width:30%"><%= user.full_name %></div>
      </div>
    
    <% end %>
    </div>
    
    
    
    </div>
  </div>

</div>

</div>