  
  <div class="flex flex-row">
    <div class="bg-white p-2 rounded-t">Overview</div>
    <div class="bg-white p-2 rounded-t bg-gray-200 mx-1">Notation</div>
    <div class="bg-white p-2 rounded-t bg-gray-200">Timeline</div>
  </div>
  <div class="bg-white p-2.5">
  <h1><%= @tournament.title %></h1>
  <p><%= @tournament.game.title %></p>
  
  <p><%= @tournament.summary %></p>

  <div class="flex flex-row">
    <div style="width: 8rem;">Organizer</div>
    <div style=""><%= @tournament.organizer.full_name %></div>    
  </div>
  
  <div class="flex flex-row">
    <div style="width: 8rem;">Location</div>
    <p><%= @tournament.location%> </p>
  </div>

  <div class="flex flex-row">
    <div style="width: 8rem;"></div>
    <p><%= @tournament.street %></p> 
  </div>

  <div class="flex flex-row">
    <div style="width: 8rem;"></div>
    <p><%= @tournament.zip_code + " " + @tournament.city%></p>
  </div>
  
  <div class="flex flex-row">
    <div style="width: 8rem;"></div>
    <p><%= @tournament.country.name %></p>
  </div>

  <div class="flex flex-row">
    <div style="width: 8rem;">Start</div>
    <p><%= @tournament.start_date %><p>
  </div>

  <div class="flex flex-row">
    <div style="width: 8rem;">End</div>
    <p><%= @tournament.end_date %><p>
  </div>

  <div class="flex flex-row">
    <div style="width: 8rem;">Players</div>
    <p><%= @tournament.users.count %> / <%= @tournament.max_player_number %><p>
  </div>

  <div class="flex flex-row">
    <div style="width: 8rem;">Tournament Type</div>
    <p><%= @tournament.tournament_type %><p>
  </div>

  <div class="flex flex-row">
    <div style="width: 8rem;">Payment Type</div>
    <p><%= @tournament.payment_type %><p>
  </div>




<% if @tournament.users.include?(current_user) %>
  <%= simple_form_for :tournament, :url => '/tournaments/leave' do |f| %>
    <%= f.hidden_field :tournament_id, :value => @tournament.id %>
    <%= f.button :submit, "Leave Tournament", class:"giocaneer-button p-2" %>
  <% end %>
<% else %>
  <%= simple_form_for :tournament, :url => '/tournaments/join' do |f| %>
    <%= f.hidden_field :tournament_id, :value => @tournament.id %>
    <%= f.button :submit, "Join Tournament", class:"giocaneer-button p-2" %>
  <% end %>
<% end %>
  <% @tournament.users.each do |user| %>
    <p><%= user.full_name %></p>
  <% end %>

</div>

