
<turbo-frame id="matches">

    <div class="m-4">
      <a class="<% if @user_games %> giocaneer-button <% else %> inverse-giocaneer-button <% end %> px-2 py-1 rounded mr-2" href="/play" ><%= t(:my_games) %></a>
      <% Game.all.each do |game|%>
        <a class="<% if @selected_game == game %> giocaneer-button <% else %> inverse-giocaneer-button <% end %> px-2 py-1 rounded mr-1" href="/play?id=<%= game.id %>"><%= game.short_title %></a>
      <% end %>
    </div>
  
  <div class="basic-list-container">
    <% matches.each do |match|%>
    <div class="basic-list-item" data-controller="toggle" style="min-height: 56px;">
      <div class="flex flex-row" data-action="click->toggle#toggle">

        <div class=" flex flex-col text-left" style="width:50px;">
          <% if match.user && match.user.image.attached? %>
            <img style="border-radius: 100%; height: 30px; width: 30px;"  src="<%= (url_for(match.user.image)) %>" >
          <% else %>
            <div class="m-1" style="height:30px; width:30px; background-color: white; border-radius: 5rem;"></div>
          <% end %>
        </div>
        
        <div class=" flex flex-col text-left" style="width: 100%;">

          <div class="flex flex-row text-left" style="width: 100%;" data-toggle-target="toggled">
            <%= match.title %> 
            <% if match.user == current_user %>
              (<%= t(:you_are_the_host) %>)
            <%  elsif match.users.include? current_user  %>
              (<%= t(:your_match) %>)
            <% end %>
    
          </div>
          <div class="flex flex-row" style="width: 100%;" data-toggle-target="toggled">

            <%= match.game.short_title  %>

          </div>
          <div class="flex flex-row text-left hidden" style="width: 100%;" data-toggle-target="toggled">
            <% "TODO Form for join match withc new match scoring" %>
            <% unless match.user_in_match(current_user) %>
              <a href="/join_match/<%= match.id %>" target="_top" class="giocaneer-button flex flex-col text-left rounded mx-2 p-2 hidden" data-toggle-target="toggled"><%= t(:join)%></a>
            <% end %>
            <a href="/match/<%= match.id %>" target="_top" class="inverse-giocaneer-button flex flex-col text-left rounded mr-2 p-2 hidden" data-toggle-target="toggled"><%= t(:view_match) %></a>
          </div>
        </div>
        <div class=" flex flex-col text-left" style="width:auto;">
          <%= distance = current_user.distance_from(match, :units => :kms).to_i %>km
        </div>
      </div>
    </div>
    <% end %>
  </div>
</turbo-frame>

  <a class="button mt-4" href="/match/new"  target="_top" data-toggle-target="toggled">
      <%= t(:create_new_match) %>
      <div class="button-corner"></div>
  </a>