
  <turbo-frame id="players">
    <div class="m-4">
      <a class="<% if @user_games %> giocaneer-button <% else %> inverse-giocaneer-button <% end %> px-2 py-1 rounded mr-2" href="/play" ><%= t(:my_games) %></a>
      <% Game.all.each do |game|%>
        <a class="<% if @selected_game == game %> giocaneer-button <% else %> inverse-giocaneer-button <% end %> px-2 py-1 rounded mr-1" href="/play?id=<%= game.id %>"><%= game.short_title %></a>
      <% end %>
    </div>
  <div class="basic-list-container">
  <% users.each do |user|%>
    <div class="basic-list-item" data-controller="toggle" style="min-height: 56px;">
      <div class="flex flex-row" data-action="click->toggle#toggle">
        <div class=" flex flex-col text-left" style="width:50px;" >
          <% if user.image.attached? %>
            <img style="border-radius: 100%; height: 30px; width: 30px;"  src="<%= (url_for(user.image)) %>" >
          <% else %>
            <div class="m-1" style="height:30px; width:30px; background-color: white; border-radius: 5rem;"></div>
          <% end %>
        </div>

        <div class=" flex flex-col text-left" style="width: 100%;"  data-toggle-target="toggled">
        
          <div class="flex flex-row text-left" style="width: 100%;">
            <%= user.full_name %>
          </div>

          <div class="flex flex-row" style="width: auto;">

            <%= (user.games.reduce("") { |sum, game| sum + ", " + game.short_title })[2..-1]  %>

          </div>
        </div>

        <div class="flex flex-row text-left hidden" style="width: 100%;" data-toggle-target="toggled">
          <a class="giocaneer-button rounded mx-2 p-2 hidden"         href="/invite/<%= user.id %>"  target="_top" data-toggle-target="toggled"><%= t(:invite_to_play) %></a>
          <a class="inverse-giocaneer-button rounded mx-2 p-2 hidden" href="/profile/<%= user.id %>" target="_top" data-toggle-target="toggled"><%= t(:see_profile) %></a>
        </div>

        <div class=" flex flex-col text-left" style="width:auto;">
          <%= distance = current_user.distance_from(user, :units => :kms).to_i %>km
        </div>
      </div>
    </div>
  <% end %>
  </div>

  </turbo-frame>
  <a class="button mt-2" href="/match/new"  target="_top" data-toggle-target="toggled">
      <%= t(:create_new_match) %>
      <div class="button-corner"></div>
  </a>