  
  
<% if current_user.latitude && current_user.longitude %>
<div class="" data-controller="tab" style="">

  <div class="tab-navigation">
    <div class="tab-navigation-container">
      <div class="tab-navigation-item-active noselect" data-tab-target="buttons" data-action="click->tab#switch" data-tab-number="0" ><%= t(:players) %><div class="tab-navigation-corner"></div></div>
      <div class="tab-navigation-item noselect" data-tab-target="buttons" data-action="click->tab#switch" data-tab-number="1"><%= t(:games) %>          <div class="tab-navigation-corner"></div></div>
    </div>
  </div>

  <div class="mt-16 basic-box" data-tab-target="tabs">
      <%= render :partial => 'player_finder', locals: { users: @users } %>
  </div>

  <div class="hidden mt-16 basic-box" data-tab-target="tabs">
      <%= render :partial => 'games_finder', locals: { matches: @matches } %>
  </div>

</div>

<% else %>
  <div class="basic-box">
    <div class="basic-box-headline">
      <%= t(:edit_your_geolocation) %>
    </div>
    <a class="" href="/profile/edit">
      <div class="button-container">
        <div class="button"><%= t(:edit) %>
          <div class="button-corner"></div>
        </div>
      </div>
    </a>
</div>
<br><br><br><br>
<% end %>