<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @invitation.message %>
</p>

<p>
  <strong>Match:</strong>
  <%= @invitation.match_id %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @invitation.sender_id %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @invitation.reference %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @invitation.receiver_id %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @invitation.reference %>
</p>

<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
