<div class="bg-white py-5 px-8 rounded-b rounded-tr float-left justify-between view-width">
  <h1><%= @army.title%></h1>
  <div><%= @army.game.title%></div>
  <div><%= @army.army_faction%></div>
  <div><%= @army.army_list%></div>
  <div><%= @army.title%></div>
</div>