
<div class="basic-box" >
  <div class="basic-box-headline basic-box-form" style="max-width: 624px;padding-left: 1rem; padding-right: 1rem;"><%= t(:invite_players_to_a_match) %></div>

  <%= form_for :match, url: path, html: { id: "match" }, method: method do |f| %>
    <div class="basic_form basic-box-form">
      <label class="basic_form_label"><%= t(:game_system) %></label>
      <%= f.collection_select(:game_id, current_user.games, :id, :title,  :options => { :class => 'basic_form_input' }) %>

      <label class="basic_form_label"><%= t(:title) %>:</label> 
      <%= f.text_field :title, placeholder: t(:title), class:"basic-box-form-input" %>

      <label class="basic_form_label hidden"><%= t(:country) %>:</label> 
      <%= f.text_field :country, placeholder: t(:country), value: "Deutschland", class:"hidden"  %>

      <label class="basic_form_label"><%= t(:street) %>:</label> 
      <%= f.text_field :street, placeholder: "#{t(:street)} #{t(:house_number)}", class:"basic-box-form-input" %>

      <div class="flex flex-row" style="max-width: 620px;" >
        <div class="basic_form" style="width: 40%;">
          <label class="basic_form_label"><%= t(:zip_code)%>:</label> 
          <%= f.text_field :zip, placeholder: "12345", class:"basic-box-form-input" %>
        </div>
        <div class="basic_form" style="width: 60%;">
          <label class="basic_form_label"><%= t(:city)%>:</label> 
          <%= f.text_field :city, placeholder: t(:city) %>
        </div>
      </div>



      <%# <label class="basic_form_label">Ort:</label>  %>
      <% render :partial => 'layouts/location_selector' %>

      <div class="flex flex-row" style="max-width: 620px;">
        <div class="basic_form" style="width: 40%;">
          <label class="basic_form_label"><%= t(:player_number) %>:</label>
          <%= f.text_field :max_player_number, value: 2 %>
        </div>
        <div class="basic_form" style="width: 60%;">
          <label class="basic_form_label"><%= t(:date) %>/<%= t(:time) %>:</label>
          <%= f.datetime_field :start_date, start_year: Time.now.year, min: Date.today, required: true %>
        </div>
      </div>
      <%= f.hidden_field :status, :value => @match.status %>
      <%= f.hidden_field :longitude %>
      <%= f.hidden_field :latitude %>
      <br>
      <%= render  :partial => "match_user_manager/match_user_manager", locals: {match: @match}  %>

      <% if @users.size > 0 %>
        <label class="basic_form_label" style="margin-bottom: 0.5rem;"> <%= t(:invite_player) %>:</label>

        <%= f.collection_check_boxes :match_scorings, @users, :id, :full_name do |user| %>
          <div class="flex flex-row" style="max-width: 620px; margin-bottom: 0.25rem;">

            <div class="ml-3"></div>
            <% if @invited_user && @invited_user.id == user.object.id %> 
              <%= user.check_box(checked: true) %> 
            <% else %>
              <%= user.check_box %>
            <% end %>
            <div class="ml-1"></div> 
            <%= user.label %>
            <div class="ml-3"> <%= distance = current_user.distance_from(user.object, :units => :kms).to_i %>km </div>
            
          </div>
        <% end %>
      <% end %>

      <br>
      <label class="basic_form_label"><%= t(:message) %>:</label> 
      <%= f.text_area :description, "rows" => 5, placeholder: t(:message), class:"basic-box-form-input"  %>
      <br>
      <div class="flex flex-row">
        <% if @match.persisted? %>
          <a class="button-primary-decline"  href="/match/<%= @match.id %>"><%= t(:cancel) %>
            <div class="button-primary-decline-corner"></div>
          </a>
        <% else %>
          <a class="button-primary-decline"  href="/play" ><%= t(:cancel) %>
            <div class="button-primary-decline-corner"></div>
          </a>
        <% end %>
        
        <a class="button-primary" onclick="$('#match').submit()" href="/match/<%= @match.id %>/edit"><%= t(:save_match) %>
          <div class="button-corner"></div>
        </a>
      </div>

      <br>
    </div>
  <% end %>
</div>