


  <div class="basic-box">
    <div class="basic-box-headline"><%= @match.title%></div>
    
    <div class="basic-list-container">

      <div class="basic-list-item">
        Spieler Anzahl: <%= @match.match_scorings.size %>/<%= @match.max_player_number %>
      </div>

      <div class="basic-list-item">
        Datum: <%= @match.start_date %>
      </div>

      <div class="basic-list-item">
        <%= @match.game.title %>
      </div>


      <div class="basic-list-item">
        Street: <%= @match.street %>
      </div>
      <div class="basic-list-item">
        ZIP: <%= @match.zip %>
      </div>
      <div class="basic-list-item">
        City: <%= @match.city %>
      </div>
      <div class="basic-list-item">
        Country: <%= @match.country %>
      </div>



      <br>
      <%= render  :partial => "match_user_manager/match_user_manager", locals: {match: @match}  %>
      <br>

    </div>
  <label class="basic_form_label" style="margin-bottom: 0.5rem;"><%= t(:match_description) %></label>
  <div class="basic-box-headline"><%= @match.description%></div>
  <br>
  <% if @match.user == current_user %>
    <a href="<%= @match.id %>/edit" class="button"> <%= t(:edit_match) %>
      <div class="button-corner"></div>
    </a>

    <a href="<%= @match.id %>/delete_ask" class="button"> <%= t(:delete_match) %> 
      <div class="button-corner"></div>
    </a>
  <% end %>
</div>