<div class="basic-box">

  <div class="basic-box-headline basic-box-form" style="max-width: 624px;padding-left: 1rem; padding-right: 1rem;"><%= t(:login) %></div>
  
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="basic_form basic-box-form">
        
          <label class="basic_form_label"><%= t(:email) %></label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "basic-box-form-input" %>
        
          <label class="basic_form_label"><%= t(:password) %></label>
          <%= f.password_field :password, autocomplete: "current-password", class: "basic-box-form-input" %><br>

        <% if devise_mapping.rememberable? %>
          
          <div class="flex flex-row ml-2.5 mb-2.5">
            <%= f.check_box :remember_me %>
            <label class="ml-2"><%= t(:remember_me) %></label>
          </div>
          
        <% end %>

          <a class="button-primary" onclick="$('#new_user').submit()" href="/users/sign_in"><%= t(:login) %>
            <div class="button-corner"></div>
          </a>
          <br>
        
          <% f.submit "Log in" %>
          <% render "devise/shared/links" %>    
  </div>
    <% end %>

    
  

</div>