<turbo-frame id="tournament_pairing_<%= @tournament.id %>_new">
    <div class="flex flex-row">
      <% match.users.each do |user|%>
        <div class="mr-3"> <%= user.full_name%> </div>
      <% end%>
    </div>
    <a class="" href="/tournaments/<%= tournament.id %>/pairing/<%= match.id%>/edit" %>edit</a>
    <a class="" href="/tournaments/<%= tournament.id %>/pairing/<%= match.id%>/delete" %>delete</a>

  <br><a class="" href="/tournaments/<%= @tournament.id %>/pairing/new" %>New</a>
</turbo-frame>