<turbo-frame id="match_<%= match.id %>">
<%= simple_form_for match, :url => "/tournaments/#{@tournament.id}/pairing/#{match.id}/update" do |f| %>
  
  Titel: <%= f.text_field :title %><br />
  Beschreibung: <%= f.text_field :description %><br />
  Spieler: <%= f.association :users %>
  <% if @tournament.round_started %>
    <div>Ergebnis eintragen</div>
  <% end %>
  <%= f.submit %>
<% end %>
</turbo-frame>