
<%= turbo_frame_tag "rate_match_frame" do %>
    <% if match %>
    <div class="notification-box mt-5">
            <div class="basic-box-headline"><%= t(:your_game_on) %> <%= match.start_date %> </div>
            
            <h4 class="basic-box-headline"> <%= t(:rate_your_game_with) %> 
                <% match.match_scorings.each do |match_scoring|%>
                    <% if match_scoring.user != current_user%>
                        <%= match_scoring.user.full_name%>
                        <% break %>
                    <% end%>
                <% end %>
                .
            </h4>

            <p class="notification-wrapper-text mx-3 pt-2"></p>
    
            <div class="flex flex-row justify-center">
                <a class="" style="width: 50%;" href="/match_scorings/<%= match_scoring.id %>">
                    <div class="button-secondary" style="width: 100%;"><%= t(:accept) %>
                        <div class="button-secondary-corner"></div>
                    </div>
                </a>

                <a class="" style="width: 50%;" href="/match_scoring/<%= match_scoring.id %>/decline_rating">
                    <div class="button-secondary-decline" style="width: 100%;"><%= t(:decline) %>
                        <div class="button-secondary-decline-corner"></div>
                    </div>
                </a>
            </div>

    </div>
  <% end %>    
<% end %>