<%= turbo_frame_tag "rate_match_frame" do %>
    <div class="notification-box mt-5">
        <h4 class="basic-box-headline">Rate your opponent.</h4>
        <% other_user_id = MatchScoring.where(match_id: @match_scoring.match.id).where("user_id != ?", current_user.id).first.user_id %>
        <div class="flex flex-row p-2 justify-center "></div>
            <% PlayerAttribute.all.each do |player_attribute| %>
                <a class="" href="/player_rating/<%= other_user_id %>/<%= @match_scoring.match.id %>/<%= @match_scoring.id %>/<%= player_attribute.id %>">
                    <div class="button-secondary-decline"><%= player_attribute.title %>
                        <div class="button-secondary-decline-corner"></div>
                    </div>
                </a>
            <% end %>    
            <a href="/match_scoring/<%= @match_scoring.id %>/decline_rating">
                <div class="button-secondary-decline"> None of the above
                    <div class="button-secondary-decline-corner"></div>
                </div>
            </a>

        <br>
    </div>
<% end %>




