<div class="flex flex-row mb-3.5 mt-5"> 
    <% if @user.image.attached? %>
      <img style="border-radius: 100%; height: 80px; width: 80px;"  src="<%= (url_for(@user.image)) %>" >
    <% else %>
      <div style="border-radius: 100%; height: 80px; width: 80px; background-color: white"></div>
    <% end %>
  <div class="flex flex-col" data-controller="toggle">
    <h1 class="ml-2 flex flex-row"><%= @user.full_name%></h1>
      <% if (@user != current_user) %>
        <% friends_user_invited = FriendList.where(inviting_user: current_user , receiving_user: @user)%>
        <% friend_list_invited =  FriendList.where(inviting_user: @user, receiving_user: current_user)%>
        <% befriended = (friends_user_invited.first.try(:status) == :accepted  ||  friend_list_invited.first.try(:status)  == :accepted) %>

        <% if (( friends_user_invited.size == 0 ) && ( friend_list_invited.size == 0 )) %>
            <div class="button-secondary" style="width: 250px;" data-action="click->toggle#toggle">
              <div class=""><%= t(:add_friend)%>
                <div class="button-secondary-corner on-background"></div>
              </div>
            </div>
            <div class="ml-3 py-5 rounded-b rounded-tr hidden" data-toggle-target="toggled">
              <div><%= t(:message) %></div>
              <% @friend_list = FriendList.new %>
                <%= simple_form_for @friend_list, url: "/profile/send_friend_request" do |f| %>
                  <%= f.input :message, label: false, :input_html => {:style=> 'width: 100%;', :value => '' } %>
                  <%=f.hidden_field :receiving_user_id, :value => @user.id %>
                  <a class="button-secondary" style="width: 350px; margin-left: 0;" onclick="$('#new_friend_list').submit()" href="/match/new">
                    <div class="" ><%= t(:send_friend_request) %>
                    <div class="button-secondary-corner on-background"></div>
                             </div>
                  </a>
              <% end %>
            </div>
        <% end %>

      <% unless (( friends_user_invited.size == 0 ) && ( friend_list_invited.size == 0 ) || befriended )  %>
        <div class="ml-2 py-5 rounded-b rounded-tr">
          <div><%= t(:player_already_invited) %></div>
        </div>  
      <% end %>

      <% if befriended %>
        <div class="ml-2 py-5 rounded-b rounded-tr">
          <div><%= t(:player_already_invited) %></div>
        </div>  
      <% end %>

    <% end %>
    
    <% if @user == current_user%>
      <a class="button-secondary" href="/profile/edit" style="max-width: 250px">
        <div class=""><%= t(:edit) %>
          <div class="button-secondary-corner on-background"></div>
        </div>
      </a>
    <% end %>
  </div>
</div>

<div class="flex flex-row width-100">

  <div class="flex flex-col border-light-hover">
    <h4 class=""><%= t(:languages) %></h4>
    <% @user.languages.each do |language| %>
        <div class="flex flex-row"> 
          <img style="height: 20px; width: 20px;"  src="<%= (url_for(language.flag_image)) %>" >
          <div class="ml-2"> <%= language.name %> </div>
        </div>
    <% end %>
  </div>

  <div class="flex flex-col border-light-hover">
    <h4 class=""> <%= t(:prefered_location) %> </h4>
    <p><%= distance = current_user.distance_from(@user, :units => :kms).to_i %>km <%= t(:away) %>.
  </div>

</div>

<turbo-frame id="profile_games_armies">

  <div class="basic-box">
    <div class="basic-box-headline"> <%= t(:game_systems) %></div>
    <% @user.games.each do |game| %>
        <div class="basic-list-item caption">
            <%= game.title %>
              <% @user.armies.each do |army|%> 
              <%# <div class="basic-list-item caption"> %>
              <% if army.game == game %>
                  <%= "#{army.army_faction} "%><br> 
              <% end %>
              <%# </div> %>
            <% end %> 
        </div>
      <% end %>
    </div>
</turbo-frame>

<!--      <div class="flex flex-row width-100">


        <div class="flex flex-col border-light">
          <h4 class=""> Player Type </h4>
          <div class=""> <h4 class="bg-gray-400 px-2.5 rounded">Competetive</h4> </div>

<div class="flex flex-row mb-3.5"> 
  <div class="bg-black" style="width: 90px; height:90px;"></div>
  <div class="flex flex-col">
    <h1 class="ml-2 flex flex-row"><%= @user.full_name%></h1>
    <% if @user == current_user%>
      <a class="button-secondary" href="/profile/edit" style="width: 250px">
        <div class="">Bearbeiten
          <div class="button-secondary-corner"></div>

        </div>
      </a>
    <% end %>
  </div>
</div>


<turbo-frame id="profile_games_armies">

  <div class="basic-box">
    <div class="basic-box-headline"> Spielsysteme</div>
    <% @user.games.each do |game| %>
        <div class="basic-list-item caption">
            <%= game.title %>
              <% @user.armies.each do |army|%> 
              <%# <div class="basic-list-item caption"> %>
              <% if army.game == game %>
                  <%= "#{army.army_faction} "%><br> 
              <% end %>
              <%# </div> %>
            <% end %> 
        </div>
      <% end %>
    </div>
</turbo-frame>
-->

<div class="flex flex-row width-100">

  <div class="flex flex-col border-light-hover">
    <h4 class=""> <%= t(:player_virtue) %> </h4>
    <div class=""> <h4 class="bg-gray-400 px-2.5 rounded"><%= @player_attribute_title %></h4> </div>
  </div>

</div>


<div class="flex flex-col border-light width-100">
  <h4><%= t(:bio) %></h4>
  <%= @user.info %>
</div>

<% if @user == current_user%>
  <div class="button-container">
    <a class="button" rel="nofollow" data-method="delete" href="/users/sign_out"><%= t(:logout) %>
      <div class="button-corner bg-main"></div>
    </a>
  </div>
<% end %>

<!--

<h4 class="mt-4">Awards</h4>

<div class="flex flex-row">
  <div class="bg-black" style="width: 36px; height:36px;"></div>
  <div class="flex flex-col ml-2.5">
    <div> Award 1 </div>
    <div class="text-gray-400"> Tournament Name </div>
  </div>

</div>

<div class="flex flex-row">
  <div class="bg-black" style="width: 36px; height:36px;"></div>
  <div class="flex flex-col ml-2.5">
    <div> Award 1 </div>
    <div class="text-gray-400"> Tournament Name </div>
  </div>
</div>

<div class="flex flex-row">
  <div class="bg-black" style="width: 36px; height:36px;"></div>
  <div class="flex flex-col ml-2.5">
    <div> Award 1 </div>
    <div class="text-gray-400"> Tournament Name </div>
  </div>
</div>

<h4 class="mt-4">Gallery</h4>
<div class="flex flex-row">
  <div class="bg-black ml-2" style="width: 90px; height:60px;"></div>
  <div class="bg-black ml-2" style="width: 90px; height:60px;"></div>
  <div class="bg-black ml-2" style="width: 90px; height:60px;"></div>
</div>


-->