<div class="view-width" data-controller="tab" style="width: 100% !important;">
  <% if @user == current_user %>
    <div class="tab-navigation" > 
      <div class="<% unless @tab && @tab != "tab" %> tab-navigation-item-active <% else %> tab-navigation-item <% end %>" data-tab-target="buttons" data-action="click->tab#switch" data-tab-number="0" >Your Profile</div>
      <div class="<% unless @tab == "messages" %> tab-navigation-item <% else %> tab-navigation-item-active <% end %>" data-tab-target="buttons" data-action="click->tab#switch" data-tab-number="1">Messages</div>
     <!-- <div class="tab-navigation-item" data-tab-target="buttons" data-action="click->tab#switch" data-tab-number="1">Your Army Lists</div> -->

    </div>
  <% end %>

  <div class="<% if @tab && @tab != "tab" %> hidden <% end %>" data-tab-target="tabs">
    <div class="mt-10">
      <%= render :partial => 'profile', locals: {  } %>
    </div>
  </div>

  <% if @user == current_user %>

    <div class="<% unless @tab == "messages" %> hidden <% end %>" data-tab-target="tabs">
      <div class="py-5 px-8 rounded-b rounded-tr view-width">
        <%= render :partial => 'messages', locals: { friend_list: @friend_list,  friend_invites: @friend_invites, friend_list_users: @friend_list_users } %>
      </div>
    </div>

    <div class="hidden" data-tab-target="tabs">

      <div class="py-5 px-8 rounded-b rounded-tr view-width">
        <%= render :partial => 'armies', locals: {  } %>
      </div>

    </div>


    


  <% else %>

    <% if ((@user != current_user) && ( FriendList.where(inviting_user: current_user , receiving_user: @user).size == 0 ) && ( FriendList.where(inviting_user: @user, receiving_user: current_user).size == 0 )) %>
      <div class="py-5 px-8 rounded-b rounded-tr view-width">
      <h4>Message</h4>
      <% @friend_list = FriendList.new %>
        <%= simple_form_for @friend_list, url: "/profile/send_friend_request" do |f| %>
          <%= f.input :message, label: false, :input_html => {:style=> 'width: 100%;', :value => '' } %>
          <%=f.hidden_field :receiving_user_id, :value => @user.id %>
          <%= f.button :submit, "Send Friend Request", class: "button", style: "margin-left: 0px;" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>