<div class="view-width" data-controller="tab" style="">
  <% if @user == current_user %>
    <div class="flex flex-row">
      <div class="bg-white p-2 rounded-t" data-tab-target="buttons" data-action="click->tab#switch" data-tab-number="0" >Your Profile</div>
      <div class="bg-white p-2 rounded-t bg-gray-200 mx-1" data-tab-target="buttons" data-action="click->tab#switch" data-tab-number="1">Your Army Lists</div>
      <div class="bg-white p-2 rounded-t bg-gray-200" data-tab-target="buttons" data-action="click->tab#switch" data-tab-number="2">Your Friends</div>
    </div>
  <% end %>

  <div data-tab-target="tabs">
    <div class="bg-white py-5 px-8 rounded-b rounded-tr view-width">
      <%= render :partial => 'profile', locals: {  } %>
    </div>
  </div>

  <% if @user == current_user %>

    <div class="hidden" data-tab-target="tabs">

      <div class="bg-white py-5 px-8 rounded-b rounded-tr view-width">
        <%= render :partial => 'armies', locals: {  } %>
      </div>

    </div>

    <div class="hidden" data-tab-target="tabs">

      <div class="bg-white py-5 px-8 rounded-b rounded-tr view-width">
        <%= render :partial => 'friends', locals: { friend_list: @friend_list,  friend_invites: @friend_invites } %>
      </div>
    </div>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <% end %>

  <% if ((@user != current_user) && !(FriendList.where(inviting_user: current_user , receiving_user: @user))) %>
    <%= simple_form_for @friend_list, url: "/profile/send_friend_request" do |f| %>
      <div>Send friend request</div>
      <%= f.input :message %>
      <%=f.hidden_field :receiving_user_id, :value => @user.id %>
      <%= f.button :submit %>
    <% end %>
  <% end %>
</div>