<!DOCTYPE html>
<html>
  <head>
    <title>GameFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
    <%= turbo_include_tags %>
    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'styles', media: 'all' %>

  </head>

  <body class="bg-gray-300">

    <div class="viewport-margin max-view-width" style="margin-left:14rem">
      <%= yield %>
    </div>

    <%= render :partial => 'layouts/nav', locals: { } %>
    
  </body>
</html>
