<!DOCTYPE html>
<html>
  <head>
    <title>GameFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= yield :head %>
    <% if current_user %>
      <% turbo_include_tags %>
    <% end %>
    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'styles', media: 'all' %>

  </head>

  <body class="bg-main relative">

    <div class="viewport-margin">
      <div class="max-view-width ">
        <%= yield %>

        <%= render :partial => 'layouts/footer', locals: { } %>
        <div style="height: 20px;"></div>
      </div>
    </div>

    <%= render :partial => 'layouts/nav', locals: { } %>

  </body>
</html>
